.maindiv {
  /* border: 2px solid red; */
  width: 70%;
  margin: auto;
  /* background-color: rgb(157, 211, 220); */
  /* background: linear-gradient(to bottom right, #82d4e5, #bed1cf); */
}
.searchBar {
  height: 50px;
  border: 1px solid black;
  display: flex;
  width: 100%;
  /* background-color: lightblue; */
  margin-top: 10px;
}
.location_icon_div,
.location_search_button {
  width: 10%;
}
.location_input_div {
  width: 80%;
}
.location_input_div > input {
  height: 95%;
  width: 100%;
  border: none;
  color: black;
}
.react_iCon {
  padding: 13px;
  font-size: 3ch;
  color: black;
  /* border: 2px solid yellow; */
}

.react_iCon {
  padding: 13px;
  font-size: 3ch;
  color: black;
  /* border: 2px solid yellow; */
}
.location_search_button > button {
  height: 95%;
  background-color: transparent;
  border: none;
}
.map_div {
  /* border: 2px solid red; */
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 10px;
}

.daily-details {
  /* border: 2px solid red; */
  width: 90%;
  height: 150px;
  margin: auto;
  display: flex;
}
.daily-details > div {
  /* border: 2px solid red; */
  width: 50%;
  text-align: center;
}

.daily-report-div {
  /* border: 2px solid red; */
  width: 90%;
  /* height: 150px; */
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.daily-tempdiv {
  /* border: 2px solid green; */
  width: 100px;
  text-align: center;
}
.daily-tempdiv > span {
  margin: 5px;
  font-size: small;
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 376px) {
  .maindiv {
    /* border: 2px solid yellow; */
    width: 100%;
    margin: auto;
    /* background: wheat; */
    margin-top: 0px;
  }
  .location_input_div {
    width: 80%;
  }

  .react_iCon {
    padding: 10%;
    margin-top: 10px;
    font-size: 3ch;
    color: black;
    /* border: 2px solid red; */
  }

  .daily-report-div {
    /* border: 2px solid red; */
    width: 90%;
    /* height: 200px; */
    margin: auto;
    margin-top: 10px;
    overflow: scroll;
    direction: rtl;
  }
  .map_div {
    /* border: 2px solid red; */
    margin-top: 50px;
  }
  .daily-tempdiv {
    text-align: center;
  }
  .daily-tempdiv > span {
    /* border: 2px solid blueviolet; */
    font-size: 65%;
    font-weight: bolder;
  }
}
